body { margin: 0; overflow-x: hidden;}

:root {
  --main-color: #001935;
  --transparent-white-15: rgba(255, 255, 255, 0.15);
}

#background {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

#main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#nav-wrapper {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid var(--transparent-white-15);
  display: flex;
}

#nav-logo {
  height: 40px;
  width: 40px;
  margin-left: 15%;
  margin-top: 5px;
}

#nav-menu {
  width: 250px;
  height: 30px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
}

#nav-menu > a {
  font-size: 30px;
  color: lightgray;
}

#nav-menu > a:hover {
  text-decoration: none;
}

#nav-search {
  width: 400px;
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
}

#content-wrapper {
  width: 950px;
  height: 50px;
  margin-top: 20px;
  /* background-color: var(--transparent-white-15); */
  display: flex;
  flex-direction: column;
}

#posts {
  width: 100%;
}

.post {
  width: 100%;
  display: flex;
  margin-bottom: 75px;
}

.post-author {
  width: 100px;
  height: 100px;
  margin-right: 50;
  overflow: hidden;
}

.post-author > img {
  width: 100px;
  height: 100px;
}

.post-content {
  width: 800px;
  background-color: whitesmoke;
}

#content-info {
  font-size: 50px;
  font-weight: bold;
  color: whitesmoke;
  margin-left: 150px;
}
