{% extends "main.html" %}

{% block title %}Новости{% endblock %}
{% block content_info %}Ваша лента
<span class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="show_privates_switch" onclick="reload_posts()">
  <label style="font-size: 12px" class="custom-control-label" for="show_privates_switch">Показывать приватные посты</label>
</span>
{% endblock %}
{% block script %}
{{ url_for('static', filename='js/feed.js') }}
{% endblock %}

{% block content %}
<div id="posts"></div>
{% endblock %}
