{% extends "main.html" %}

{% block title %}Новости{% endblock %}
{% block content_info %}Ваша лента{% endblock %}
{% block script %}
function load_posts() {
  let resp = $.ajax({
    url: "/feed/",
    method: "post",
    data: {
      offset: $(".post").length ? $('.post').last()[0].id.slice(5) : null
    },
    success: function (resp) {
      $('#posts').append(resp);

    }
  });
}
{% endblock %}

{% block onload %}login_check(){% endblock %}

{% block content %}
<div id="posts"></div>
{% endblock %}
