<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.5.0.min.js"
			  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
			  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1f6307a674.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}" ></script>

    <title>{% block title %}{% endblock %} - Mutblr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" ></script>
    <link rel="icon" sizes="16X16" href="{{ url_for('static', filename='img/favicon_16x16.png') }}">
    <link rel="icon" sizes="32X32" href="{{ url_for('static', filename='img/favicon_32x32.png') }}">
    <link rel="icon" sizes="64X64" href="{{ url_for('static', filename='img/favicon_64x64.png') }}">
    <link rel="icon" sizes="128X128" href="{{ url_for('static', filename='img/favicon_128x128.png') }}">
    {% if current_user.is_authenticated %}
    <script>
    cur_user = {
      username: "{{ current_user.username }}",
      id: "{{ current_user.id }}",
      token: "{{ current_user.api_token }}"
    }
    </script>
    {% endif %}
  </head>

  <body onload="{% block onload %}{% endblock %}">
    <div id="background"></div>
    <div id="main-wrapper">
      <div id="nav-wrapper">
        <img id="nav-logo" src="{{ url_for('static', filename='img/logo_1024x1024.png') }}">
        <div id="nav-search">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-search" style="font-size: 24; background-color: white;"></span>
            </div>
            <input type="text" class="form-control" placeholder="Поиск в Mutblr">
          </div>
        </div>
        <div id="nav-menu">
          <a href="/" class="fas fa-home"></a>
          <a href="/feed/" class="far fa-newspaper"></a>
          <a href="/blogs/" class="fas fa-user-friends"></a>
          <a href="/settings/" class="fas fa-user-cog"></a>
        </div>
      </div>
      <div id="content-wrapper">
        <div id="content-info">
          {% block content_info %} {% endblock %}
        </div>
        {% block content %} {% endblock %}
        <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вход в аккаунт</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Для совершения этого действия вам нужно войти в свой аккаунт.
              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</a>
                <a type="button" class="btn btn-warning" href="https://oauth.yandex.ru/authorize?response_type=token&client_id=ed85afc1f5ad48ed97373e897b2d3320">Войти через Яндекс</a>
                <a type="button" class="btn btn-primary" href="/login">Войти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
