<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" crossorigin="anonymous"></script>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}
  {{ form.reply_to(class="d-none", id='reply_to') }}
  {% if message %}
  <div class="form-group">
    <p class="alert alert-danger">{{message}}</p>
  </div>
  {% endif %}
  <div class="form-group">
    {{ form.content(class="form-control") }}
    {% for error in form.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
  </div>
  <div class="form-group">
    <label>{{ form.tags.label }}</label>
    {{ form.tags(class="form-control") }}
  </div>
  <div class="form-group form-check">
    {{ form.is_private(class="form-check-input") }}
    <label class="form-check-label">{{ form.is_private.label }}</label>
  </div>
  {{ form.submit(type="submit", class="btn btn-primary") }}
</form>
