<div class="post" id="post-{{ post.id }}">
  <div class="post-author rounded-circle">
    <img src="/uploads/{{ post.user.pfp }}">
  </div>
  <div class="post-content rounded{% if post.reply_to_id != post.id %}-top{% endif %} text-break">
    <div class="post-info">
      <span class="username">{{ post.user.username }}</span> {% if post.is_private %}(private){% endif %}
      <a class="post-options fas fa-ellipsis-h" data-toggle="dropdown"></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="post-text">
      {{ post.content }}
    </div>
    <div class="post-footer">
      <span>{{ len(post.liked) }} лайков</span>
      <a class="fas fa-heart likebtn {% if current_user.id in post.liked %}liked{% endif %}" onclick="like({{ post.id }})"></a>
      <a class="fas fa-reply" onclick="reply({{ post.id }})"></a>
    </div>
  </div>
</div>
{% if post.reply_to_id != post.id %}
<div class="post" id="post-{{ post.reply_to.id }}" style="margin-top: -75px;">
  <div class="post-author rounded-circle">
    <img src="/uploads/{{ post.reply_to.user.pfp }}">
  </div>
  <div class="post-content rounded-bottom text-break">
    <div class="post-info">
      <span class="username">{{ post.reply_to.user.username }}</span> {% if post.reply_to.is_private %}(private){% endif %}
      <a class="post-options fas fa-ellipsis-h" data-toggle="dropdown"></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="post-text">
      {{ post.reply_to.content }}
    </div>
    <div class="post-footer">
      <span>{{ len(post.reply_to.liked) }} лайков</span>
      <a class="fas fa-heart likebtn {% if current_user.id in post.reply_to.liked %}liked{% endif %}" onclick="like({{ post.reply_to.id }})"></a>
      <a class="fas fa-reply" onclick="reply({{ post.reply_to.id }})"></a>
    </div>
  </div>
</div>
{% endif %}
