{% extends "main.html" %}

{% block title %}{{ user.username }}{% endblock %}
{% block content_info %}
<img src="/uploads/{{ user.pfp }}" class='rounded-circle' style='width: 40px; height: 40px;'>
{{ user.username }}
{% if user.id != current_user.id %}
<button class="btn btn-success{% if user.id not in current_user.subscribed_to %} d-none{% endif %}" onclick='subscribe({{ user.id }}); change_subscribe_button()'>Читаю</button>
<button class="btn btn-primary{% if user.id in current_user.subscribed_to %} d-none{% endif %}" onclick='subscribe({{ user.id }}); change_subscribe_button()'>Читать</button>
{% endif %}
{% endblock %}
{% block script %}
{{ url_for('static', filename='js/user.js') }}
{% endblock %}

{% block content %}
<div id="posts"></div>
{% endblock %}
